<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>Rodando  API faturando :)</h1>
    <p>Este é um exemplo de aplicação com Express, TypeScript e EJS.</p>
</body>
</html>
